.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data files
*.rds
*.Rds
*.feather
*.Feather
*.Rdata
.httr-oauth

# remake
.remake/

# task plans
**_tasks.yml

# temporary folders
1_wqp_pull/tmp/*

# old folder that stores junk
old/*

# ignore geodb for national network
6_network/in/*/*
6_network/out/*.rds
*.zip
