.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data files
*.rds
*.Rds
*.feather
*.Feather
*.Rdata
.httr-oauth
*.zip

# remake
.remake/

# task plans
**_tasks.yml

# temporary folders
1_wqp_pull/tmp/*


# old folder that stores junk
old/*

# ignore geodb for national network
# and delaware shape file
8_delaware/in/*

#ignore out files
out/
